@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NeverBronze</h1>
    <p class="lead">NeverBronze is a web application that focuses on the analysis of Riot API data to produce logical conclusions with the desire to improve gameplay.</p>
    <p><a href="#t" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Participants</h2>
        <p>Table of participant data for each timeline frame. Table includes time, participant ID, XY-coordinate, level, XP, and total gold for each frame occurring periodically throughout a match. The default frame interval is 60000 milliseconds (1 minutes).</p>
        <a class="btn btn-default" href="/Participant">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Table of event data for each timeline frame. Table includes time, participant ID, item ID, and event type. Each event has a respective timestamp.</p>
        <a class="btn btn-default" href="/Event">Learn more &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Learn more about the NeverBronze project and meet the development team. Request summoner names for an opportunity to grind the Rift or Treeline with legendary, modern-day Flex Queue heroes.</p>
        <a class="btn btn-default" href="#">Learn more &raquo;</a>
    </div>
</div>